/* Add to your global styles */
@supports (-webkit-touch-callout: none) {

  :root {
    --vh: 1vh;
  }
}

@layer base {

  html,
  :root {
    font-family: var(--font-primary), system-ui, sans-serif;
    background-color: var(--color-base-1-bg);
    color: var(--color-base-content);
  }

  html {
    height: -webkit-fill-available;
    overscroll-behavior: none;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    /* background-color: var(--color-base-200); */
    color: var(--color-base-content);
    text-wrap: pretty;
    position: relative;
    width: 100%;
    overflow-x: hidden;

    /* @media (min-width: theme('screens.xs')) {
      overflow-x: hidden !important;
      margin-right: calc(-1 * (100vw - 100%)) !important;
    } */
  }

  button {
    cursor: pointer;
  }
}